In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [35]:
DF=pd.read_csv(r'E:\Things I Did\pyclasses\bodyfat.csv')

In [36]:
DF.describe()

,Bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Ankle,Biceps,Wrist
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,18.601000,44.880000,177.451500,70.355000,37.894000,100.681000,91.867000,22.900000,32.292000,18.221000
std,8.006683,11.417937,29.508013,2.714807,2.302998,8.516493,10.261235,1.346451,3.065141,0.999322
min,3.700000,23.000000,127.500000,65.000000,32.800000,83.400000,70.400000,20.100000,25.600000,16.300000
25%,12.375000,39.750000,152.937500,68.250000,36.275000,94.000000,83.825000,22.000000,29.900000,17.600000
50%,18.950000,44.000000,176.125000,70.000000,37.900000,99.250000,90.150000,22.600000,32.000000,18.200000
75%,24.575000,52.000000,195.437500,72.250000,39.400000,105.600000,98.975000,23.725000,34.400000,18.825000
max,40.100000,74.000000,262.750000,77.750000,43.200000,128.300000,126.200000,27.000000,38.500000,21.400000

In [37]:
X=DF.iloc[:,1:]
Y=DF.iloc[:,0]

In [38]:
XTr,XTe,YTr,YTe=train_test_split(X,Y,test_size=0.2)

In [39]:
print(XTr.shape,XTe.shape,YTr.shape,YTe.shape)

(80, 9) (20, 9) (80,) (20,)

In [40]:
model=LinearRegression()
model.fit(XTr,YTr)
print("Done")

Done

In [41]:
    YPred=model.predict(XTe)

In [42]:
print(YPred,np.array(YTe))

[26.59565454 27.48126808 13.20358781 23.68815766 26.11339386 21.93192436
 38.71072756 17.01859335  8.8124418  19.43909422 12.0575118  17.6388332
 21.30331444 26.29847532 22.57262842 14.41406428  6.3703135  28.59761099
 19.29669654 13.65503918] [25.3 19.3  7.8 25.3 29.4 19.6 34.5 11.8  3.7 26.8 13.6 20.1 28.4 30.7
 24.8 13.  10.8 25.2 10.6 13.9]

In [43]:
DFAnalysis= pd.DataFrame()

In [44]:
DFAnalysis['Ypred']=YPred
DFAnalysis['YTe']=np.array(YTe)
print(DFAnalysis)

        Ypred   YTe
0   26.595655  25.3
1   27.481268  19.3
2   13.203588   7.8
3   23.688158  25.3
4   26.113394  29.4
5   21.931924  19.6
6   38.710728  34.5
7   17.018593  11.8
8    8.812442   3.7
9   19.439094  26.8
10  12.057512  13.6
11  17.638833  20.1
12  21.303314  28.4
13  26.298475  30.7
14  22.572628  24.8
15  14.414064  13.0
16   6.370313  10.8
17  28.597611  25.2
18  19.296697  10.6
19  13.655039  13.9

In [45]:
    DFAnalysis['Error']=np.square(DFAnalysis['YTe']-DFAnalysis['Ypred'])
#DFAnalysis['Error']=[(x-y)**2 for x,y in zip(DFAnalysis['Ytest'],DFAnalysis['Ypred'])]

In [46]:
DFAnalysis

        Ypred   YTe      Error
0   26.595655  25.3   1.678721
1   27.481268  19.3  66.933147
2   13.203588   7.8  29.198761
3   23.688158  25.3   2.598036
4   26.113394  29.4  10.801780
5   21.931924  19.6   5.437871
6   38.710728  34.5  17.730227
7   17.018593  11.8  27.233717
8    8.812442   3.7  26.137061
9   19.439094  26.8  54.182934
10  12.057512  13.6   2.379270
11  17.638833  20.1   6.057342
12  21.303314  28.4  50.362946
13  26.298475  30.7  19.373419
14  22.572628  24.8   4.961184
15  14.414064  13.0   1.999578
16   6.370313  10.8  19.622123
17  28.597611  25.2  11.543760
18  19.296697  10.6  75.632531
19  13.655039  13.9   0.060006

In [47]:
plt.plot(DFAnalysis['Error'],'.')
plt.show()

NameError: name 'plt' is not defined