In [113]:
import pandas as pd
import numpy as np

In [115]:
df=pd.read_csv(r'E:\Things I Did\pyclasses\iris.csv',header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [117]:
df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [119]:
df.columns=np.array(['sl','sw','pl','pw','c']);
df

      sl   sw   pl   pw               c
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [121]:
df['slm']=[i*10 for i in df.sl]

In [123]:
df.slm

0      51.0
1      49.0
2      47.0
3      46.0
4      50.0
       ...
145    67.0
146    63.0
147    65.0
148    62.0
149    59.0
Name: slm, Length: 150, dtype: float64

In [125]:
df.drop(columns=['slm'],inplace=True)#just df.drop returns a copy of the original, inplace=true makes it in the same thing

In [127]:
df

      sl   sw   pl   pw               c     sa     pa
0    5.1  3.5  1.4  0.2     Iris-setosa  17.85   0.28
1    4.9  3.0  1.4  0.2     Iris-setosa  14.70   0.28
2    4.7  3.2  1.3  0.2     Iris-setosa  15.04   0.26
3    4.6  3.1  1.5  0.2     Iris-setosa  14.26   0.30
4    5.0  3.6  1.4  0.2     Iris-setosa  18.00   0.28
..   ...  ...  ...  ...             ...    ...    ...
145  6.7  3.0  5.2  2.3  Iris-virginica  20.10  11.96
146  6.3  2.5  5.0  1.9  Iris-virginica  15.75   9.50
147  6.5  3.0  5.2  2.0  Iris-virginica  19.50  10.40
148  6.2  3.4  5.4  2.3  Iris-virginica  21.08  12.42
149  5.9  3.0  5.1  1.8  Iris-virginica  17.70   9.18

[150 rows x 7 columns]

In [129]:
df.describe()

               sl          sw          pl          pw          sa          pa
count  150.000000  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667   17.806533    5.793133
std      0.828066    0.433594    1.764420    0.763161    3.368693    4.713499
min      4.300000    2.000000    1.000000    0.100000   10.000000    0.110000
25%      5.100000    2.800000    1.600000    0.300000   15.645000    0.420000
50%      5.800000    3.000000    4.350000    1.300000   17.660000    5.615000
75%      6.400000    3.300000    5.100000    1.800000   20.325000    9.690000
max      7.900000    4.400000    6.900000    2.500000   30.020000   15.870000

In [ ]:
df['sa']=[i*j for i,j in zip(df.sl,df.sw)]

In [122]:
df['pa']=[i*j for i,j in zip(df.pl,df.pw)]

In [124]:
df[df.c=="Iris-versicolor"].describe()

,sl,sw,pl,pw,sa,slm,pa
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,5.936000,2.770000,4.260000,1.326000,16.526200,59.360000,5.720400
std,0.516171,0.313798,0.469911,0.197753,2.866882,5.161711,1.368403
min,4.900000,2.000000,3.000000,1.000000,10.000000,49.000000,3.300000
25%,5.600000,2.525000,4.000000,1.200000,14.347500,56.000000,4.860000
50%,5.900000,2.800000,4.350000,1.300000,16.385000,59.000000,5.615000
75%,6.300000,3.000000,4.600000,1.500000,18.495000,63.000000,6.750000
max,7.000000,3.400000,5.100000,1.800000,22.400000,70.000000,8.640000

In [126]:
#is sa=17.20    pa=0.362
#is sa=19.684600    pa=11.296200
#is sa=16.526200    pa=5.720400

In [128]:
def getflower(sl,sw,pl,pw):
    sa = sl*sw 
    pa = pl*pw 
    diff1 = abs(11.3 - pa)
    diff2 = abs(0.36 - pa)
    diff3 = abs(5.72 - pa)
    if(diff3 <= diff2 and diff3 <= diff1):
        return 'Iris-versicolor'
    if(diff2 <= diff1 and diff2 <= diff3):
        return 'Iris-setosa'
    if(diff1 <= diff2 and diff1 <= diff3):
        return 'Iris-virginica'

In [132]:
df['cp'] = [getflower(a,b,c,d) for a,b,c,d in zip(df.sl, df.sw, df.pl, df.pw)]

In [133]:
df[df.c!=df.cp]

      sl   sw   pl   pw                c     sa    pa               cp
70   5.9  3.2  4.8  1.8  Iris-versicolor  18.88  8.64   Iris-virginica
106  4.9  2.5  4.5  1.7   Iris-virginica  12.25  7.65  Iris-versicolor
119  6.0  2.2  5.0  1.5   Iris-virginica  13.20  7.50  Iris-versicolor
133  6.3  2.8  5.1  1.5   Iris-virginica  17.64  7.65  Iris-versicolor
134  6.1  2.6  5.6  1.4   Iris-virginica  15.86  7.84  Iris-versicolor